<div style="text-align: center;"><h1>Teacher register</h1>
<table>
    <tr>
        <td>username:</td>
        <td><input type="text" [(ngModel)]="formData.username" name="" id="" required></td>
    </tr>
    <tr>
        <td>password:</td>
        <td><input type="text" name="" id="" [(ngModel)]="formData.password" required></td>
    </tr>
    <tr>
        <td>Security question:</td>
        <td><input type="text" name="" id="" [(ngModel)]="formData.securityQuestion" required></td>
    </tr>
    <tr>
        <td>Security question's answer:</td>
        <td><input type="text" name="" id="" [(ngModel)]="formData.securityAnswer" required></td>
    </tr>
    <tr><td colspan="2">
        <input type="radio" name="gender" id="" value="M"  [(ngModel)]="formData.gender" required>Male 
        <input type="radio" name="gender" value="F" id="" [(ngModel)]="formData.gender" required> Female
    </td>
    </tr>
    <tr>
        <td>firstname:</td>
        <td><input type="text" [(ngModel)]="formData.firstName" name="" id="" required></td>
    </tr>
    <tr>
        <td>lastname:</td>
        <td><input type="text" name="" id="" [(ngModel)]="formData.lastName" required></td>
    </tr>
    <tr>
        <td>adress:</td>
        <td><input type="text" name="" id=""[(ngModel)]="formData.address" required></td>
    </tr>
    <tr>
        <td>Image:</td>
        <td><input type="file" name="" id="" (change)="onFileSelected($event)"></td>
    </tr>
    <tr>
        <td>phone:</td>
        <td><input type="text" name="" id="" [(ngModel)]="formData.contactPhone" required></td>
    </tr>
    <img [src]="formData.profileImage" alt="">
    <tr>
        <td>E-mail:</td>
        <td><input type="text" name="" id="" [(ngModel)]="formData.email" required></td>
    </tr>
    <tr><td colspan="2"><button type="submit" (click)="next()">next step</button></td></tr>


</table>
</div>
