<body style="align-content: center;">
    <div style="text-align: center;"><a [routerLink]="['']"></a></div>    

    <table style="margin-left: auto;margin-right: auto; padding-top: 20%;" >
        <tr>
    <input type="text" [(ngModel)]="username" name="" id=""><br>
    </tr>
    <tr>
    <input type="text" [(ngModel)]="password" name="" id=""><br>
    </tr>
    <tr style="text-align: center;"><button (click)="login()">login</button></tr>
    <tr style="text-align: center;"> <td> Don't have an acconut?</td></tr>
    <tr  style="text-align: center;"> <button (click)="reg()">register</button></tr>
    </table>
    </body>