<body style="align-content: center;">

    <!-- <div style="text-align: center;">
    <button  (click)="zaboravio()">Zaboravljena Sifra</button>
    </div> -->
<table style="margin-left: auto;margin-right: auto; padding-top: 20%;" >
    <tr>
<input type="text" [(ngModel)]="username" name="" id=""><br>
</tr>
<tr>
<input type="text" [(ngModel)]="passwordStara" name="" id="" placeholder="Stara lozinka"><br>
</tr>
<tr>
    <input type="text" [(ngModel)]="passwordNova" name="" id="" placeholder="Nova lozinka"><br>
    </tr>
    <tr>
        <input type="text" [(ngModel)]="passwordPonovljena" name="" id="" placeholder="Nova lozinka ponovo"><br>
        </tr>
<tr style="text-align: center;"><button (click)="promeni()">promeni</button></tr>

</table><br>
<div style="text-align: center;">
<input type="text" [(ngModel)]="username" name="" id="" placeholder="unesite ime i kliknite"><br>
<button (click)="promeni1()">Zaboravljena stara</button>
</div>
</body>